<div class="demo">
    <h2 style="text-decoration: none; color: black;">@Title</h2>
    <code>@Code</code>
    <p>@SubTitle</p>
    <div class="live-example">
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Code { get; set; }

    [Parameter]
    public string SubTitle { get; set; }

}