<div class="demo">
    <h2 style="text-decoration: none; color: black; margin-top: 10px">@Title</h2>
    <a href=@($"{GitHubPrefix}{DemoType.Name}.razor")>View on GitHub</a>
    <p>@SubTitle</p>
    <div class="live-example">
        @ChildContent
    </div>
</div>